{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
<meta name="title" content="About CleanDesignUK - Our Story & Values">
<meta name="description" content="Learn more about CleanDesignUK, your trusted partner in web design. Find out how our commitment to quality and innovation makes us a leader in the digital services industry in North Wales.">
<meta name="keywords" content="about CleanDesignUK, web design values, our story, digital services North Wales">
<title>About CleanDesignUK - Commitment to Excellence</title>

<style>
    body {
    font-family: Arial, sans-serif;
}

.nav-link { color: black !important; }

.active {
    color: #c41d1d !important;
    font-weight: bold;
}

.hero-section {
    background: linear-gradient(to right, #cb4611, #ac2209);
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.2rem;
}

.custom-container {
    padding: 60px 15px;
}

.custom-card {
    background: #fff;
    border: none;
    border-radius: 1rem;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: none;
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.custom-card h5 {
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.custom-card p {
    color: #666;
}

.profile-pic {
    border-radius: 50%;
    margin-bottom: 20px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #333;
}

.section-title span {
    color: #dc3545; /* Bootstrap default red */
}

.section-subtitle {
    color: #777;
}

.btn-outline-custom {
    border-color: #cb4611;
    color: #cb4611;
}

.btn-outline-custom:hover {
    background-color: #cb4611;
    color: #fff;
}

.text-overlay-size {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .custom-container {
        padding: 30px 15px;
    }
    
    .text-overlay-size {
        font-size: 1.0rem;
    }
}

.contact-link a {
    color: #ffffff;
}

.contact-link a:hover {
    text-decoration: underline;
}

.profile-pic {
    border-radius: 50%;
    margin-bottom: 20px;
}

.custom-container img {
    max-width: 100%;
    border-radius: 0.5rem;
    border: 1px solid red; /* 1px solid red border */
}

.lead {
    color: #333;
}

.image-container {
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75); /* Frosted glass effect */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.0rem; /* Adjusted font size for better visibility */
    font-weight: bold;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.image-container:hover .image-overlay {
    opacity: 0;
}

.click-button {
    display: none;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip-icon {
    position: fixed;
    top: 100px;
    left: 20px;
    cursor: pointer;
    font-size: 2rem;
    color: #800b0b;
    padding: 5px;
    z-index: 1000;
}

.animate__animated {
    visibility: visible !important;
}
</style>
<!-- Include Animate.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

<div id="about-intro" class="about-intro">
    <section class="py-5">
        <div class="container">
            <!-- Tooltip Icon -->
            <div class="tooltip-icon" data-bs-toggle="modal" data-bs-target="#tooltipModal">
                <i class="fas fa-info-circle"></i>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="tooltipModal" tabindex="-1" aria-labelledby="tooltipModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tooltipModalLabel">How to Use This Page</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Click on any image to change the text on the about page.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gx-4 align-items-center justify-content-between">
                <div class="col-md-5">
                    <div class="mt-5">
                        <span class="text-muted">Our Story</span>
                        <h2 class="display-5 fw-bold" id="about-title">About <span>Us</span></h2>
                        <p class="lead" id="about-text">Welcome to Clean Design UK! I'm Jesse Ross, and I believe in creating more than just websites—I build partnerships that nurture your ongoing digital success. With a background that bridges mathematics, web development, and a passion for creative solutions, I'm here to bring your digital dreams to life with a personal touch.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6 col-md-6 image-container" onclick="toggleSection('professional-background')">
                            <div class="image-overlay"> <p class="text-overlay-size text-center"> Professional <br> Background </p> </div>
                            <img class="img-fluid rounded-3" src="https://res.cloudinary.com/dz18uvfpa/image/upload/v1715986439/flleriz3wisos7kbvhim.png" alt="Professional Background">
                        </div>
                        <div class="col-6 col-md-6 image-container" onclick="toggleSection('design-philosophy')">
                            <div class="image-overlay"> <p class="text-overlay-size text-center">  Design <br>  Philosophy </p> </div>
                            <img class="img-fluid rounded-3" src="https://res.cloudinary.com/dz18uvfpa/image/upload/v1715986439/donkkkuxdtd2qwxe0etx.png" alt="Design Philosophy">
                        </div>
                        <div class="col-6 col-md-6 image-container" onclick="toggleSection('connect-with-us')">
                            <div class="image-overlay"> <p class="text-overlay-size text-center">Connect <br> with Us  </p></div>
                            <img class="img-fluid rounded-3" src="https://res.cloudinary.com/dz18uvfpa/image/upload/v1715986439/tdiiqifnnj0vre7mmrvb.png" alt="Connect with Us">
                        </div>
                        <div class="col-6 col-md-6 image-container" onclick="toggleSection('complimentary-consultation')">
                            <div class="image-overlay"> <p class="text-overlay-size text-center">Complimentary <br> Consultation </p> </div>
                            <img class="img-fluid rounded-3" src="https://res.cloudinary.com/dz18uvfpa/image/upload/v1715986991/zbvhxq6m10gjgbr5itbv.webp" alt="Complimentary Consultation">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
function toggleSection(sectionId) {
    var aboutContent = {
        'professional-background': {
            title: 'Professional Background',
            text: 'My professional journey spans several dynamic fields, from chemical engineering to mathematics tutoring and entrepreneurship, culminating in my current role as a full stack developer. Each role has endowed me with unique insights and skills, reinforcing my dedication to innovative web solutions that cater to your specific needs.'
        },
        'design-philosophy': {
            title: 'Design Philosophy',
            text: 'At Clean Design UK, our philosophy is to put the client first, embracing creativity to deliver uniquely functional and standout bespoke solutions. We engage in regular consultations and updates throughout the design process and beyond, ensuring that your website not only meets but exceeds your evolving expectations.'
        },
        'connect-with-us': {
            title: 'Connect With <span>Us</span>',
            text: 'Ready to start a conversation that could transform your business? We\'re here to listen, understand, and deliver beyond your expectations. Connect with us through our social media platforms or by email to begin crafting your digital future.'
        },
        'complimentary-consultation': {
            title: 'Complimentary <span>Consultation</span>',
            text: 'Let us explore your needs, budget, and how Clean Design UK can assist in achieving your objectives. Contact us today to schedule a free consultation, and take the first step towards enhancing your digital presence.'
        }
    };

    var aboutTitle = document.getElementById('about-title');
    var aboutText = document.getElementById('about-text');

    if (aboutContent[sectionId]) {
        aboutTitle.classList.add('animate__animated', 'animate__fadeOutLeft');
        aboutText.classList.add('animate__animated', 'animate__fadeOutLeft');
        
        setTimeout(() => {
            aboutTitle.innerHTML = aboutContent[sectionId].title;
            aboutText.innerHTML = aboutContent[sectionId].text;
            
            aboutTitle.classList.remove('animate__fadeOutLeft');
            aboutText.classList.remove('animate__fadeOutLeft');

            aboutTitle.classList.add('animate__fadeInRight');
            aboutText.classList.add('animate__fadeInRight');
        }, 500);

        aboutTitle.addEventListener('animationend', () => {
            aboutTitle.classList.remove('animate__animated', 'animate__fadeInRight');
        });

        aboutText.addEventListener('animationend', () => {
            aboutText.classList.remove('animate__animated', 'animate__fadeInRight');
        });
    }
}
</script>

{% endblock %}
