
    main { min-height: 100vh; }
    body { color: black; background-color: #f8f9fa !important; }
    a {text-decoration: none;}
    .nav-link { color: black !important; }
    
    .active {
        color: #c41d1d !important;
        font-weight: bold;
    }

    .hero-image {background-size: auto 110%;}
    .hero-header {
        background-color: #cecdcd;
        color: black;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .accent-text {
        color: rgb(136, 14, 14);
    }

    .service-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #fff; /* Light red background for engagement */
        border: 2px solid rgb(136, 14, 14);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        height: 100%; /* make all cards equal height */
    }

    .service-card:hover {
        transform: translateY(-5px); /* subtle hover effect */
        box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    }

    .service-card h4 {
        color: rgb(136, 14, 14);
    }

    .service-card p {  color: rgb(136, 14, 14);}

    /* Gradient backgrounds for each card */
    .service-card.blog {
        background: linear-gradient(to bottom, #ffffff, #979291);
    }

    .service-card.gallery {
        background: linear-gradient(to bottom, #ffffff, #979291);
    }

    .service-card.packages {
        background: linear-gradient(to bottom, #ffffff, #979291);
    }

    .service-card.contact {
        background: linear-gradient(to bottom, #ffffff, #979291);
    }

    .service-card p {
        color: #000;
    }

    .btn-danger {
        background-color: rgb(136, 14, 14);
        border-color: rgb(136, 14, 14);
    }

    h4 {font-weight: bold;}

    @media (max-width: 1024px) {
        .navbar {
            font-size: 1.2rem;
        }
    }
